astroid==2.3.3
Click==7.1.1
colorama==0.4.3
fastapi==0.65.2
gunicorn==20.0.4
h11==0.9.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pydantic==1.7.4
pylint==2.4.4
starlette==0.14.2
uvicorn==0.11.7
websockets==8
wrapt==1.11.2
uvloop==0.14.0
torch==1.10.0
transformers==3.0.2
sense2vec==2.0.0
strsim==0.0.3
six==1.15.0
networkx==2.6.3
numpy==1.22.0
scipy==1.4.1
scikit-learn==1.0.2
unidecode==1.3.4
future==0.16.0
joblib==1.1.0
pytz==2018.9
python-dateutil==2.8.2
flashtext==2.7
pandas==1.3.5
pytextrank==2.0.0
spacy==3.4.1
questgen==0.4.1